*{
    margin:0px;
    padding:0px;
}
.container{
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    background-color:whitesmoke ;
    
}
/* .height-400px{
    min-height:100px auto;
    width: 50px;
} */
.pg{
border: 1px solid black;
padding: 10px;
}
img{
    padding:5px;
     height: 250px;
    width: 150px; 
    border: 1px solid black;;
}
.gap{
    column-gap: 25px;
}
.container:hover{
background-image: linear-gradient(pink,rgb(0, 123, 255));
}
body{
    background-color:rgb(70, 17, 123);
    
}
.event{
    display: grid;
    grid-template-areas: 
    "h h"
    "i p"
    "i b"
    ;

}
.head{
    grid-area: h;
}
img{
    grid-area: i;
}
p{
    grid-area: p;
}
button{
    grid-area: b;
    
}